<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
        <div class="">
                <a href="/bright_ideas" class="header_text"> Bright Ideas</a>
                <a href="/" class="header_text"> Log Out</a>
        </div>
           

        <h2 class="userdata">Name:  <span class="userdetail">{{user.name}}</span></h2>
        <h2 class="userdata">Alias:  <span class="userdetail">{{user.alias}}</span></h2>
        <h2 class="userdata">Email:  <span class="userdetail">{{user.email}}</span></h2>
        <div class="border-top user-stats">
            <h3 class="userdata">Total Number of Posts: {{posts}}</h3>
            <h3 class="userdata">Total Number of Likes: {{likes}}</h3>
        </div>
    </body>
</html>